*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
}

main{
   padding: 0 10%;

}

main section{
   display: grid;
   row-gap: 20px;
   border: 1px solid gray;
   padding: 20px;
}

main section form, main section div{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: 40px;
}

main section form>div{
   display: grid;
   grid-template-rows: repeat(2,40px);
   grid-template-columns: 1fr;
}

.errors{
   color: red;
}